body{
    margin: 0;
}
.fiel{
    color: white;
.titulo{
   text-decoration: underline;
}
.h1{
    color: antiquewhite;
    -webkit-text-stroke: 100% blue;
}
.h2{
    color: antiquewhite;
    -webkit-text-stroke: 100% blue;
}
.aurusinicio{
     background-color: black;
     background-image: url(https://w0.peakpx.com/wallpaper/348/238/HD-wallpaper-joystick-play-ps4.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}

.aurusfinal{
     background-color: black;
     background-image: url(https://media.istockphoto.com/id/157686859/es/foto/textura-de-fondo-abstracto-azul-claro-efecto-xxxl.jpg?s=612x612&w=0&k=20&c=C4yEyq6RZwScvKsPiOOsTCg6WeZTOje5Wb6XIxsTNC4=);
     background-repeat: no-repeat;
     background-size: cover;
}

.aurus{
    background-color: black;
    background-image: url(https://w0.peakpx.com/wallpaper/348/238/HD-wallpaper-joystick-play-ps4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
video{
    border-radius: 20px;

}







