body{
    margin: 0;
}
.fiel{
    color: white;
.titulo{
   text-decoration: underline;
}
.h1{
    color: antiquewhite;
    -webkit-text-stroke: 100% blue;
}
.h2{
    color: antiquewhite;
    -webkit-text-stroke: 100% blue;
}
.aurusinicio{
     background-color: black;
     background-image: url(https://w0.peakpx.com/wallpaper/348/238/HD-wallpaper-joystick-play-ps4.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}

.aurusfinal{
     background-color: black;
     background-image: url(https://images.unsplash.com/photo-1663970206579-c157cba7edda?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9uZG8lMjBhYnN0cmFjdG98ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
     background-repeat: no-repeat;
     background-size: cover;
}

.aurus{
    background-color: black;
    background-image: url(https://w0.peakpx.com/wallpaper/348/238/HD-wallpaper-joystick-play-ps4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
video{
    border-radius: 20px;

}








